/* Features Section
--------------------------------*/
.ti #features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.category #features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

.category #features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

.category #features .feature-block h4 {
  margin-bottom: 20px;
}
.category h4 {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}
.category .img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}