.section_padding {
  padding: 50px 50px;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.submit_btn {
  width: auto;
  display: inline-block;
  background: #1158B2;
  padding: 0px 50px;
  color: #1158B2;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1158B2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submit_btn:hover {
  background: transparent;
}

.btn_1 {
  display: inline-block;
  padding: 17px 50px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #1158B2;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  color: #1158B2;
}

.btn_1:hover {
  background-color: #018EFE;
  color: #fff;
}

.subscribe_part {
  background-color: #fff;
}

.subscribe_part .subscribe_part_content {
  text-align: center;
}

.subscribe_part .subscribe_part_content h2 {
  color: #1158B2;
}

.subscribe_part .subscribe_form {
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
  max-width: 558px;
}

.subscribe_part .subscribe_form input {
  border: 1px solid #1158B2;
  width: 100%;
  background-color: transparent;
  color: #1158B2;
  border-radius: 50px;
  padding: 19px 30px;
  line-height: 20px;
}

.subscribe_part .subscribe_form .btn_1 {
  padding: 15px 30px;
  line-height: 16px;
  border-radius: 50px;
  position: absolute;
  right: 5px;
  top: 5px;
}

